<ion-header [translucent]="true" >
  <ion-toolbar>
    <ion-title>
      SQLITE storage
    </ion-title>
  </ion-toolbar>
</ion-header>
<div ion-fixed>
  <ion-item>
    <ion-label>Select Your Choice</ion-label>
    <ion-select value="all" interface="action-sheet" (ionChange)="changeDept($event)">
      <ion-select-option value="all" >All</ion-select-option>
      <ion-select-option value="groupby" >Group By Department</ion-select-option>
      <!-- <ion-select-option *ngFor="let a of dep" value={{a?.ID}} >{{a?.Name}}</ion-select-option> -->
    </ion-select>
  </ion-item>
  <ion-grid>
    <ion-row class="header">
      <ion-col size-sm="4">Name</ion-col>
      <ion-col size-sm="4">Department</ion-col>
      <ion-col size-sm="4">Salary</ion-col>
    </ion-row>
  </ion-grid>
</div>
<ion-content  class="ion-padding">

  <ion-grid *ngIf="depSelected == 'all'">
    <ion-row class="content" *ngFor="let e of emp">
      <ion-col size-sm="4">{{e?.Name}}</ion-col>
      <ion-col size-sm="4">{{e?.Dept}}</ion-col>
      <ion-col size-sm="4">{{e?.Salary}}</ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid *ngIf="depSelected == 'groupby'">
    <ion-row class="content" *ngFor="let e of maxSal">
      <ion-col size-sm="4">{{e?.Name}}</ion-col>
      <ion-col size-sm="4">{{e?.Dept}}</ion-col>
      <ion-col size-sm="4">{{e?.Salary}}</ion-col>
    </ion-row>
  </ion-grid>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
