

.header{
  text-align: center;
  color: var(--ion-color-primary);
  border: 1px solid var(--ion-color-primary);
padding: 8px;
border-radius: 5px;
}
.content{
text-align: center;
color: var(--ion-color-dark-shade);
border: 1px solid var(--ion-color-dark-shade);
padding: 10px;
border-radius: 5px;
}
[ion-fixed]{
  width: 100%;

}
